html
  head
    title TSLint Validation Report
    block css
      link(rel="stylesheet" type="text/css" href=SUPPORT_DIR + "/assets/bootstrap.min.css")
      link(rel="stylesheet" type="text/css" href=SUPPORT_DIR + "/base.css")
  body
    block content
