html
  head
    title TSLint Validation Report
    block css
      link(rel="stylesheet" type="text/css" href='file://' + SUPPORT_DIR + "/assets/bootstrap.min.css")
      link(rel="stylesheet" type="text/css" href='file://' + SUPPORT_DIR + "/assets/base.css")
  body
    block content
