//- Report that an error occurred when trying to run tslint.

extends base.pug

block content
    .panel.panel-danger
        .panel-heading
            h4 TypeScript Validation Error
                .small #{timestamp}
        .panel-body
            p Hi there. This is the &ldquo;TSLint&rdquo; bundle for TextMate. I validate
                |  your code using TSLint.
            p I had the following problem running <code>tslint</code>:
            p
                code #{errorMessage}

            h4 How to fix it
            if !tsLintNotFound
                ul
                    li Make sure your dependencies are up-to-date:&nbsp;
                        code npm install
                    li Make sure <code>tslint</code> is installed:&nbsp;
                        code npm install --save-dev tslint
            else
                ul
                    li Install <code>tslint</code> locally in your project:&nbsp;
                        code npm install --save-dev tslint
                    li <b>OR</b>, if <code>tslint</code> is not installed locally, make sure
                        |  the <code>tslint</code> and <code>node</code> commands are on the
                        |  <code>PATH</code>.
                        ol
                            li Go to <i>TextMate</i> > <i>Preferences&hellip;</i> > <i>Variables</i>
                            li Ensure the <code>PATH</code> is enabled there and that it includes the
                                |  location of your <code>tslint</code> and <code>node</code>
                                |  commands.

            h4 How to disable validation
            p If you mistakenly installed this validation tool and want to disable it,
                |  you can do so in TextMate:
            ol
                li On the TextMate menu, choose <i>Bundles</i> > <i>Edit Bundles&hellip;</i>
                li Locate &ldquo;TSLint&rdquo;
                li Uncheck &ldquo;Enable this item&rdquo;
                li Close the Bundle Editor and choose &ldquo;Save&rdquo;
    .small.text-center
        b
            a.open-external(href='https://github.com/natesilva/tslint.tmbundle')
                | TSLint TextMate Bundle
