//- Report the version number and provide a link to check for a newer version
.small.text-center
    a.open-external(href='https://github.com/natesilva/tslint.tmbundle')
    | TSLint TextMate Bundle&nbsp;
    span.version-number
    |  &mdash;&nbsp;
    a.update-checker(href='#') Check for new version
    span.update-available.hidden
        a.label.label-info.open-external(href='https://github.com/natesilva/tslint.tmbundle/releases/latest')
            span.dingbat &#10039;
            |  Update Available
    span.no-update.hidden You have the latest version
    span.update-error.text-danger.hidden Check for update failed
